html {
  background-color:#E5E5E5;
}

body {
  /* Typographic */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #191b1d;
  line-height: 1.5em;

  /* Visual */
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  background-color: #ffffff;
  margin: 0px auto 0px;
  padding-bottom: 10px;
  border-top: 5px solid #062156;
}

.avatar {
  /* Box-model */
  /* Typographic */
  text-align: center;

  /* Visual */
  margin: auto;
  padding-left: 60px;
}

.name {
  border: 1px solid black;
}

.photo {
  /* Box-model */

  /* Visual */
  margin: auto;
  border-radius: 50em;
  width: 30rem;
}

footer {
  /* Box-model */
  width: 80%;


  /* Typographic */
  text-align: center;

  /* Visual */
  margin: auto;
  margin-bottom: 10px;
  
}

.my-github {
  /* Box-model */
  display: inline-block;

  /* Typographic */
  color:black;

  /* Visual */
  padding: 3px;
  border-radius: 5px;
  margin-right: 100px;
}

.rss-logo {
  /* Box-model */
  display: inline-block;
  
  /* Typographic */
  color:black;

  /* Visual */
    padding: 3px;
  border-radius: 5px;
}

a {text-decoration: none;}

.link-code {
  /* Typographic */
  color:black;

  /* Visual */
  border: 1px solid black;
  padding: 1px;
  border-radius: 7px;
}
